body{
    margin:0;
    padding:0;
    padding-top:70px;
    box-sizing:border-box;
}
/* Navbar*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
    height: 70px;
    background-color: rgb(100, 0, 194);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header a, button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:50px;
}
.navbar-cont{
    display: flex;
    justify-content: space-between;
    align-items: center
}
header a{
    text-decoration: none;
    color: #fff;
}

header a:hover{
    color: #c98fff;
}
header h4{
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#fff;
}

/*Body*/
/*div 1*/
.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:120px;
    padding-right:120px;
    background-image: linear-gradient(rgb(190, 126, 250), rgb(132, 56, 175));
    height: 500px;
}
.contex{
    text-align: center  ;
}
.contex h1{
    font-size: 60px;
    color:#fff
}
.contex h2{
    color: #e1c0ff;
}
.contex h3{
    font-size: small;
    color: #ffffff;
    margin-top: 10px;
}

.contex button{
    margin:0;
    margin-right: 50px;
    margin-top: 20px;
}

.contex  h2{
    margin-top:20px ;
}
/*div 2*/
.cont2{
    display: flex;
    justify-content: center;
    margin: 50px;
    padding-left:75px;
    padding-right:75px;
}
.cont2 h2,h3{
    color:black
}
.cont2 h2{
    font-size: 40px;
}
.cont2 h3{
    font-size:20px;
}

.wrapper1, .wrapper2{
    margin-left: 50px;
}
/*div 3*/
.cont3{
    padding: 50px;
    padding-left:120px;
    padding-right:120px;
    background-color:rgb(100, 0, 194);
    box-sizing: border-box;
}
.cont3 h2{
    color:#fff;
    text-align: center;
    font-size: 40px;
}
.menu_servicos, .menu_servicos2{
    display: flex;
    justify-content: space-between;
}
.func1,.func2,.func3,.func4,.func5,.func6{
    width: 900px;
    height: 200px;
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgb(0, 0, 0);
}

.cont4{
    padding: 50px;
    padding-left:120px;
    padding-right:120px;
    background-color:rgb(50, 0, 70);
    box-sizing: border-box;
}
.cont4 h2{
    color:#fff;
    text-align: center;
    font-size: 40px;
}

.cont5{   
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-left:120px;
    padding-right:120px;
    background-color:rgb(177, 61, 255);
}

.cont5 h2{
    color:#fff;
    text-align: center;
    font-size: 40px;    
}
.cont5 h3{
    color: #e3c5ff;
    text-align: center;
}
.cont5 button{
    text-align: center;
    margin:0;
    margin-right: 50px;
    margin-top: 20px; 
}


